:root {
    --height-header: 63px;
    --width-logo: 200px;
    --line-height: 22.5px;
}

body {
    position: relative;
}

.header {
    position: sticky;
    top: 0;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    width: 100%;
    height: var(--height-header);
}

.logo {
    width: var(--width-logo);
    height: var(--height-header);
}

.bd-toc,
.bd-links {
    top: var(--height-header) !important;
}

.bd-links::-webkit-scrollbar,
.bd-toc::-webkit-scrollbar {
    width: 7px;
}

.bd-links::-webkit-scrollbar-track,
.bd-toc::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.bd-links::-webkit-scrollbar-thumb,
.bd-toc::-webkit-scrollbar-thumb {
    display: block;
    max-height: 10px !important;
    background-color: #c1c1c1;
}

.bd-links {
    height: calc(100vh - var(--height-header));
}

.bd-sidebar a {
    line-height: var(--line-height);
}

.bd-sidebar .active {
    align-items: start !important;
}

.bd-sidebar .active::before {
    content: '';
    border-radius: 50%;
    background: #000;
    min-width: 5px;
    height: 5px;
    margin-top: calc(var(--line-height) / 2 - 2.5px);
    margin-right: 5px;
}

.sidenav a.active {
    color: #818181;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.medium-zoom--opened .medium-zoom-overlay {
    z-index: 2;
}

.medium-zoom-image {
    z-index: 2;
}

.blockquote {
    padding: 0.5rem 1rem;
    background: #e7e7e7;
    border-left: 4px solid #c1c1c1;
}

#TableOfContents .active {
    color: black;
}
