<!DOCTYPE html>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/fuse.min.js"></script>
<script src="/js/mark.min.js"></script>
<script src="/js/search.js"></script>
<html lang="ru">
    <head>
        <!--  -->
        {{ partial "meta.html" . }}
        <!--  -->
        {{ partial "head_includes.html" . }}
        <title>{{.Title}}</title>
    </head>
    <body data-bs-spy="scroll" data-bs-target="#TableOfContents">
        <header class="header">
            <div class="logo">
                <a href="{{ with .GetPage "/" }}{{ .URL }}index.html{{ end }}"> {{partial "logo.html" .}} </a>
            </div>
        </header>
        <div class="container-fluid bd-layout">
            {{partial "sidebar.html" .}}
            <main class="bd-main order-1">
                <div class="d-flex flex-column bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
                    <strong class="d-block h6 my-2 pb-2 border-bottom">Содержание</strong>
                    {{block "page-toc" .}}{{end}}
                </div>

                <div class="bd-content ps-lg-4">{{ block "main" . }} {{ end }}</div>
            </main>
            <a href="/site.zip" download style="position: fixed; bottom: 20px; right: 20px; z-index: 2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-file-earmark-arrow-down"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"
                    />
                    <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
                    />
                </svg>
            </a>
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>
