{{ define "main" }}
<!--  -->
{{.Content}}

<div class="d-flex flex-row flex-wrap">
    {{range .Pages}}
    <!-- <div class="card m-1" style="width: 18rem">
        <a href="{{ .URL }}index.html">
            <div class="card-body">
                <h5 class="card-title">{{.Title}}</h5>
                <p class="card-text">{{.Description}}</p>
            </div>
        </a>
    </div> -->
    <!-- <li><a href="{{.URL}}"> {{.Title}}</a></li> -->
    {{end}}
</div>

{{ end }} {{define "page-toc"}} {{.TableOfContents}} {{end}}
